@font-face {
  font-family: "FiraSans";
  src: url(fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FrankRuhlLibre";
  src: url(fonts/FrankRuhlLibre-Regular.ttf) format("truetype");
}

* {
  margin: 0;
}

body {
  background-color: #e6e6e6;
  max-width: 1850px;
  margin: auto;
}

h1 {
  font-family: "FrankRuhlLibre", Verdana, Geneva, Tahoma, sans-serif;
}

p,
a,
form {
  font-family: "FiraSans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ddea;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.top-section h1 {
  font-size: 60px;
}

.top-section .man-baby {
  height: 550px;
  position: absolute;
  transform: translate(390px, 25px);
}

nav {
  margin: 40px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.mid-section {
  width: 80%;
  height: 700px;
  margin: 0 auto;
}

.mid-grid {
  background-color: #a9a19e;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.mid-grid .item1 {
  background-color: #a9a19e;
  grid-column: 1/2;
}

.mid-grid .item1 h1 {
  background-color: #a9a19e;
  color: white;
  font-size: 60px;
  width: 60%;
  margin: 100px auto 0 auto;
}

.mid-grid .item2 .send-btn {
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 200px;
  margin: 50px;
  margin-left: 240px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.mid-grid .item2 {
  background-color: #a9a19e;
  grid-column: 2/3;
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.mid-grid .item2 p {
  background-color: #a9a19e;
  font-size: 24px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

#email {
  font-size: 16px;
  height: 44px;
  margin-bottom: 20px;
}

#message {
  font-size: 16px;
  font-weight: bold;
  padding-left: 18px;
  padding-top: 18px;
  resize: none;
}

.bottom-section {
  background-image: url(img/map.png);
  background-size: cover;
  width: 80%;
  height: 700px;
  margin: 0 auto;
}

.visit-card {
  color: white;
  background-color: #fab131;
  position: relative;
  transform: translate(100px, 50px);
  height: 35%;
  width: 28%;
  padding-top: 20px;
  padding-left: 30px;
}

.visit-card h1 {
  font-size: 60px;
}

.visit-card p {
  font-weight: normal;
}

footer {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: #797370;
}

@media screen and (max-width: 600px) {
  .top-section {
    width: 100%;
    justify-content: left;
  }

  .top-section h1 {
    width: 50%;
    padding-left: 32px;
  }

  .top-section .man-baby {
    height: 550px;
    position: absolute;
    transform: translate(190px, 25px);
  }

  nav {
    background-color: white;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .nav {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
  }

  .contact {
    background-color: #e6e6e6;
  }

  .mid-section {
    width: 100%;
    height: 900px;
    margin: 0 auto;
  }

  .mid-grid {
    background-color: #a9a19e;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mid-grid .item1 {
    background-color: #a9a19e;
  }

  .mid-grid .item1 h1 {
    background-color: #a9a19e;
    color: white;
    font-size: 60px;
    width: 80%;
    margin: 50px auto 0 auto;
  }

  .mid-grid .item2 {
    background-color: #a9a19e;
    grid-column: 2/3;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
  }

  #email {
    font-size: 16px;
    height: 44px;
    margin-bottom: 20px;
  }

  #message {
    font-size: 16px;
    font-weight: bold;
    padding-left: 18px;
    padding-top: 18px;
    resize: none;
  }

  .mid-grid .item2 .send-btn {
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    height: 70px;
    width: 200px;
    margin: 50px;
    margin-left: 330px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  }

  .bottom-section {
    background-image: url(img/map.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0 auto;
  }

  .visit-card {
    color: white;
    background-color: #fab131;
    position: relative;
    transform: translate(70px, -140px);
    height: 35%;
    width: 70%;
    padding-top: 20px;
    padding-left: 30px;
  }

  .visit-card h1 {
    font-size: 60px;
  }

  .visit-card p {
    font-weight: normal;
  }

  footer {
    width: 80%;
    height: 0px;
    margin: 0 auto;
    background-color: #797370;
  }
}
