@font-face {
  font-family: "FiraSans";
  src: url(fonts/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FrankRuhlLibre";
  src: url(fonts/FrankRuhlLibre-Regular.ttf) format("truetype");
}

* {
  margin: 0;
}

h1 {
  font-family: "FrankRuhlLibre", Verdana, Geneva, Tahoma, sans-serif;
}

p,
a {
  font-family: "FiraSans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.top-section {
  width: 80%;
  height: 900px;
  margin: 0 auto;
}

.top-grid {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.top-grid .item1 {
  background-color: #c7ddea;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 0;
}

.top-grid .item1 h1 {
  font-size: 60px;
  width: 60%;
  margin: 100px auto 0 auto;
}

.top-grid .item1 p {
  font-size: 24px;
  width: 60%;
  margin: 20px auto 0 auto;
}

.top-grid .item1 .join-btn {
  font-size: 18px;
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 200px;
  margin: 80px;
  margin-left: 130px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.top-grid .item2 {
  background-color: #f17949;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.top-grid .item2 h1 {
  color: white;
}

.top-grid .item3 {
  background-color: #fab131;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.top-grid .item3 h1 {
  color: white;
}

.msg {
  justify-content: center;
}

nav {
  margin: 40px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.mid-section {
  background-color: bisque;
  width: 80%;
  height: 1800px;
  margin: 0 auto;
}

.mid-grid {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.mid-grid .item1 {
  background-color: #a9a19e;
  grid-column: 1/2;
  grid-row: 1/2;
}

.mid-grid .item1 h1 {
  font-size: 60px;
  width: 60%;
  margin: 100px auto 0 auto;
}

.mid-grid .item1 p {
  font-size: 24px;
  width: 60%;
  margin: 20px auto 0 auto;
}

.mid-grid .item1 .join-btn {
  font-size: 18px;
  border: none;
  border-radius: 40px;
  height: 70px;
  width: 200px;
  margin: 80px;
  margin-left: 130px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.mid-grid .item2 {
  background-color: #a9a19e;
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 100px;
  padding-left: 20%;
}

.mid-grid .item2 p {
  font-size: 24px;
  width: 60%;
}

.mid-grid .item3 {
  background-color: #fab131;
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.mid-grid .item3 h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 40px;
}

.mid-grid .item3 p {
  font-size: 24px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
