* {
  margin: 0;
}

.top-section {
  background-color: bisque;
  width: 80%;
  height: 900px;
  margin: 0 auto;
}

.top-grid {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.item1 {
  background-color: #c7ddea;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-right: 0;
}

.item2 {
  background-color: #f17949;
  grid-column: 2/3;
  grid-row: 1/2;
}

.item3 {
  background-color: #fab131;
  grid-column: 2/3;
  grid-row: 2/3;
}

.item1 h1 {
  font-size: 60px;
  width: 60%;
  margin: 100px auto 0 auto;
}

.item1 p {
  font-size: 24px;
  width: 60%;
  margin: 20px auto 0 auto;
}

.join-btn {
  font-size: 18px;
  border-radius: 40px;
  height: 70px;
  width: 200px;
  margin: 80px;
  margin-left: 130px;
}
